/*reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* generali */
#app{
    height: 100vh;
    width: 100%;
}
/* header */
header{
    background-color: #E5E5E5;
    height: 100px;
}
header img{
    width: 80px;
    border-radius: 50%;
   margin-left: 1rem;
}
header span{
    font-size: 1.2rem;
    font-weight:500;
}
header .fas{
    color: #B1B1B1;
    font-size: 1.8rem;
}
/* main */
main{
    height: calc(100% - 100px);
}